<html>
  <head>
    <title>Tweet Stramer</title>
    <script
      type="text/javascript"
      src="https://cdn.socket.io/socket.io-3.0.5.js"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Tweet Streamer</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li>
              <button class="btn btn-primary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                <span class="sr-only" id="keywordToShow"></span>
              </button>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="text"
              id="keyword"
              name="keyword"
              placeholder="Write Keyword Here..."
              aria-label="Search"
            />
            <button
              class="btn btn-outline-success"
              type="button"
              onclick="search('keyword')"
            >
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    <ul id="messages"></ul>
    
  </body>

  <script type="text/javascript">
    var socket = io.connect("http://127.0.0.1:5000");
    
    function search() {
      $(keywordToShow).text("Streaming tweets for: "+$('#keyword').val());
      $(messages).text("");

      console.log("SEARCH");
      $.ajax({
        url: "http://localhost:3000/search",
        type: "POST",
        contentType: "application/json",
        data: {
          keyword: $("#keyword").val(),
        },
        success: function (data) {
          console.log(data);
        },
        error: function (err) {
          console.log("ERROR");
          console.log(err);
        },
      });
    }

    
    $(document).ready(function () {
      var intervalId = setInterval(function () {
        console.log("Message Requested");
        socket.send($(keywordToShow).context.innerText.split(" ").pop());
      }, 5000);
      socket.on("message", function (data) {
        if (data!=undefined){
          $("#messages").append("<li>" + data + "</li>");
          console.log("Received message");
        }
      });
    });
  </script>
</html>
